*.resources
*.pidb
*.userprefs
*~
*.swp
test-results/
bin/
obj/
released/TntMPDConverter.*
released/TntMpdConverter.*
released/replace.config
released/linux/
released/windows/
TntMPDConverter.wiki/
latestVersion/
