*.resources
*.pidb
*.userprefs
*~
*.swp
*.suo
*.user
test-results/
TestResult.xml
bin/
obj/
released/TntMPDConverter.*
released/TntMpdConverter.*
released/replace.config
released/linux/
released/windows/
released/nrtftree-library.dll
binaries/
TntMPDConverter.wiki/
latestVersion/
binaries/
